<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<title>{% block title %} {% endblock title %} | con Victor Robles </title>
	{% load static %} <!--Carga la carpeta static, sino no encuentra los estilos-->
	<link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>
	<header>
		<div id="logotipo">
			<img src="{%static 'images/logo.png'%}" alt="">	
			<h1>Sitio Web con Django</h1>
					
		</div>
	</header>
	<nav>
		<ul>
			<li><a href="/inicio">Inicio</a></li>
			<li><a href="/hola_mundo">Hola Mundo</a></li>
			<li><a href="/pagina">Pagina de Prueba</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>

	<div class="barra"> <!--Efecto 3D-->
		<span class="esquina-izquierda"></span>
		<span class="relleno-barra"></span>
		<span class="esquina-derecha"></span>
	</div>	

	<div id="content">
		<h2 class='title'>Titulo de prueba</h2>
		{% block content %}
			<h3>Contenido del Layout</h3>
		{% endblock content %}
	</div>
		<footer>
		Master en Python &copy; Esteban Marcelloni
	</footer>
</body>
</html>